@charset "utf-8"; @import "~bulma/bulma.sass";
.navbar {
    display: flex;
    align-content: center;
    justify-content: center;
}
  .navbar-menu {
    flex-grow: initial!important;
    flex-shrink: initial!important;
}
.navbar .navbar-menu {
    flex-grow: initial;
    flex-shrink: initial;
}
.title {
    margin: 0 auto;
}